*{
    margin: 0;
    padding: 0;
}

body,
ul,
li,
p,
a, 
h2 {
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 50px;
    text-align: center;
    margin: 30px;
}
/*       Banner       */
.container{
    background: #1d1e20;
}
.banner{
    max-width: 1100px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.imgFundo{
    max-height: 105%;
    margin-top: -40px;
    
}
.imgLogo{
    color: white;
    position: absolute;
    max-width: 90%;
    margin: 0 auto;
    z-index: 1;
}

.sobre{
    max-width: 1100px;
    min-height: 60vh;
    margin: 0 auto;
    background: #16384c;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sobre p {
    width: 90%;
    text-align: justify;
    font-size: 1.3rem;
}

.apresentacao{
    max-width: 1100px;
    min-height: 80vh;
    margin: 0 auto;
    background-color:antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    
}
.apresentacao > .card{
    flex: 1 1 310px;
    margin: 10px;
}

.card{
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    background: rgba(159, 170, 180, 0.384);
}
.card img{
    border-radius: 20px 20px 0  0;
    width: 100%;
}
.card .descricao{
    padding: 20px;
}

.galeria img{
    width: 100%;
    
}

.galeria{
    max-width: 1100px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
.galeria .quadradoInteiro {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(245, 193, 51);  
}
.galeria .quadradoInteiro img{
    width: 100%;
    height: 100%;
}
.galeria .quadradoQuatro{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/*Mini Quadrado Texto*/

.miniText{
    max-height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 193, 51);  
}
.miniText h2{
    margin: 5px;
    font-size: 25px;
}
.miniText p{
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
.miniText a{
    background: black;
    color: white;
    padding: 5px;
    border-radius: 20px;
}
.miniImg img{
    height: 100%;
}
.quadradoVertical{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.quadVertText{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1f80b8;
}
.quadVertText h2 {
    margin: 20px;
    font-size: 30px;
}
.quadVertText p {
    margin: 10px;
    font-size: 20px;
    padding: 20px;
    text-align: justify;
}

.quadVertText a{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.vertImg img{
    height: 100%;
}

.localizacao{
    max-width: 1100px;
    min-height: 70vh;
    margin: 0 auto;
    margin-top: -30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(24, 132, 182) 0%, rgba(255,76,0,1) 100%);
}

 iframe{
    width: 90%;
    height: 50vh;
    border-radius: 20px;
    
}

footer{
    display: flex;
    max-width: 100%;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    background: #aa6600e5;
}

.contato{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.contato h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 2px 10px 100px white;
    font-weight: bold;
}
.contato h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}
.contato a {
    color: red;
    font-size: 40px;
    font-weight: bold;
}
.contato a:hover {
    color: rgb(255, 83, 83);
    
}
.contato ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.icon{
    color: white;
    font-size: 40px;
    margin: 30px;
}
.icon:hover{
    color: rgb(255, 83, 83);
}


@media (max-width:600px){
    .quadradoVertical{
        display: flex;
        flex-direction: column-reverse;
    }

}